#headingFour {
    background-color: red;
    font-weight: bold;
}

#fila {
    border-style: inset;
    border-width: 1px;
    border-color: black;
}

#fila div {
    text-align: center;
    border-style: inset;
    border-width: 1px;
    border-color: black;
}